.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Manuscript_pirAnalysis_Github/.DS_Store
Manuscript_pirAnalysis_Github/Pberghei/Manuscript_suppfig1A_corrplot_all_experiments_rnaseq.pdf
Manuscript_pirAnalysis_Github/Pchabaudi24h/.DS_Store
Manuscript_pirAnalysis_Github/Pchabaudi24h/Manuscript_SuppFig5_phaseogram_allgenes.pdf
Manuscript_pirAnalysis_Github/Pchabaudi24h/Manuscript_SuppFig6_phaseogram_cirgenes.pdf
Manuscript_pirAnalysis_Github/Pchabaudi24h/Manuscript_SuppFig6_phaseogram_cirgenes.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Manuscript_SuppFigure3_chabaudi24h_pca_nopseudo.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Manuscript_chabaudi24h_pca_nopseudo_SuppFigure3.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Manuscript_figure3c_heatmap.pdf
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_TPM_allBioReps.csv
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_TPM_average.csv
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_sibe-by-side_chapl_aapl_02h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_sibe-by-side_chapl_aapl_05h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_sibe-by-side_chapl_aapl_08h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_sibe-by-side_chapl_aapl_11h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_sibe-by-side_chapl_aapl_14h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_sibe-by-side_chapl_aapl_17h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_sibe-by-side_chapl_aapl_20h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_sibe-by-side_chapl_aapl_23h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_side-by-side_barchart_facetbySubfam_02h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_side-by-side_barchart_facetbySubfam_05h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_side-by-side_barchart_facetbySubfam_08h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_side-by-side_barchart_facetbySubfam_11h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_side-by-side_barchart_facetbySubfam_14h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_side-by-side_barchart_facetbySubfam_17h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_side-by-side_barchart_facetbySubfam_20h.png
Manuscript_pirAnalysis_Github/Pchabaudi24h/Pchabaudi_side-by-side_barchart_facetbySubfam_23h.png
Manuscript_pirAnalysis_Github/Pberghei/Manuscript_Github_Pberghei_pir.Rmd
Manuscript_pirAnalysis_Github/Pberghei/SupplementaryInformation4_Stats_DESEQ_berghei.xlsx
Manuscript_pirAnalysis_Github/Pberghei/SupplementaryInformation_Stats_DESEQ_berghei.xlsx
Manuscript_pirAnalysis_Github/Pberghei/SupplementaryInformation_Stats_Qusage_berghei.xlsx
Manuscript_pirAnalysis_Github/Pchabaudi24h/Interest_SubfamSplit_ChAPL-AAPLAnnotate_heatmap.pdf
Manuscript_pirAnalysis_Github/Pchabaudi24h/Interest_chapl-aapl_clustered_heatmap.pdf
Manuscript_pirAnalysis_Github/Pchabaudi24h/Manuscript_Fig_subfam_heatmap.pdf
Manuscript_pirAnalysis_Github/Pchabaudi24h/Manuscript_SuppFig_ChAPL-AAPL_heatmap.pdf
Manuscript_pirAnalysis_Github/Pchabaudi24h/Manuscript_ancestralPir_BarChart.pdf
